{% extends 'base.html '%}
{% load bootstrap3 %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class=container>
    <form method="POST">
        {{message}}
        {{form.non_field_errors}}
        {% csrf_token %}
        {% for field in form %}
        <p>{{field.label_tag}} {{ field }}</p>
        {{ field.help_text | safe }}
        {% if field.errors %}
        <strong>{{ field.errors }}</strong>
        {% endif %}
        {% endfor %}
        <button type="submit">Submit</button>
        <a href="{% url 'reset' %}">Forgot Password</a>
        </form>
</div>
{% endblock %}

